body{
    background-image: url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 50px;
    color: #dbab51;
    font-family: Segoe Print, Gabriola;
    text-decoration-line: underline;
    text-shadow: 1px 1px 1px #ab7a91,
    2px 2px 1px #ab7a91;
    margin: 15px;
}

.difficulties{
    font-family: Segoe Print;
    text-align: center;
    font-size: 28px;
    color:#773254;
    font-weight: bolder;
    margin: 10px;
}

.container{
    display:flex;
    justify-content:center;
}

.container2{
    display:flex;
    justify-content:center;
    width: 350px;
    height: 80px;
    position: absolute;
    bottom: 450px;
    left: 1150px;
}

button{
    background-color: #fae069;
    margin-bottom: 8px;
    margin-right: 5px;
    width: 85px;
    height: 35px;
    border: 2px solid #773254;
    cursor: pointer;
    font-family: Segoe Print;
    font-size: 15px;    
    font-weight: bolder;

}

table{
    margin-left:auto; 
    margin-right:auto;
    table-layout: fixed;
}

.cell{
    width: 50px;
    height: 50px;
    table-layout: fixed;
    background-color:#6d4c75; 
    color:#f1eff4;
    text-align: center;
    font-family: Segoe Print;
    font-size: 22px;
}

td{
    border: 3px solid #e3d9e4;
}

td:hover{
    background-color: #e1bd75;
    border: 2px solid #e9a2aa;

}

.divCell{
    display: none;

}

.countUpTimer{
    display: none;
	font-size: 40px;
	font-weight: bold;
	color: #f9f15f;
    font-family:papyrus;
    text-align: center;
    text-shadow: 1px 1px 1px #553869,
    2px 2px 1px #553869;
    margin: 5px;
    position: absolute;
    bottom: 550px;
    left: 1200px;
    background-color: #e5e2e9;
    width: 220px;
    height:60px;
    position: absolut;
    border: 4px solid #bca7c3;
}

.modal{
    display: none;
    background-color: #e5e2e9;
    width: 220px;
    height:100px;
    position: absolute;
    bottom: 650px;
    left: 1200px;
    color: #8b6b97;
    text-align: center;
    font-size: 25px;
    font-family: Segoe Print;
    border: 4px solid #bca7c3;
}

.restart{
    display: none;
    position: absolute;
    bottom: 655px;
    left: 1270px;
}

.lives{
    display: none;
	font-size: 40px;
	font-weight: bold;
    margin: 5px;
	color: #f9f15f;
    font-family:papyrus;
    text-align: center;
    text-shadow: 1px 1px 1px #553869,
    2px 2px 1px #553869;
    margin-right: 30px;
}

.smiley{
    display: none;
    font-size: 40px;
    margin: 5px;
}

p{
    text-align: center;
}


